body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: black;
    height: 45px;
}

.interactive-container {
    display: flex;
    height: 30dvh;
    padding-top: 50px;
    justify-content: center;
    align-items: center;

}

.algorithm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.algorithm-container #arrayContainer ul{
    padding: 0;
}

.algorithm-container #arrayContainer li{
    display: inline;
    padding: 15px;
    margin: 0;
    border: solid black 1px;
}


.explanation-container {
    width: 50%;
}

.code-container {
    margin-inline: auto;
    width: 90%;
}

.code-container select {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.code-container pre {
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
}